#acc {
  width:345px;
  height:631px;
  background:green;
  color:white;
  position:fixed;
}
button{
  margin-top:300px;
  font-size: 20px;
  margin-left: 131px;
  border:1px solid #D0D1D2;
  border-radius: 4px;
  color:white;
  background : transparent;
}
